.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #000080;
}
.form {
  position: relative;
}
.button {
  position: absolute;
  top: 15%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.input {
  padding-left: 40px;
  width: 400px;
  height: 43px;
  border: none;
  border-radius: 5px;
}
